---
import Layout from '@/layouts/Layout.astro'

import { StructuredText, useDato } from '@/lib/dato-cms'

import type { ContactPage } from '@/lib/types'

const { data, error: cmsErr } = await useDato<ContactPage>(/* GraphQL */ `
   {
      contact {
         seo {
            title
            description
         }
         title
         subtitle(markdown: true)
         body {
            value
            blocks {
               __typename
               ... on ArticleImageRecord {
                  id
                  image {
                     width
                     height
                     alt
                     url(imgixParams: { fm: webp, auto: enhance, cs: srgb })
                  }
               }
            }
         }
      }
   }
`)

if (cmsErr) throw new Error(cmsErr)

const cms = data.contact
---

<Layout title={cms.seo.title} description={cms.seo.description}>
   <article class="g-article-wrapper g-page-top-spacing">
      <header class="contact-section">
         <h1 class="g-title">{cms.title}</h1>
         <div class="g-paragraphs" set:html={cms.subtitle} />
      </header>

      <main class="g-prose" id="article">
         {
            StructuredText(cms.body, {
               content: (html) => <Fragment set:html={html} />,
            })
         }
      </main>
   </article>
</Layout>

<style>
   .contact-section {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: var(--section-gap);
   }
</style>
