---
import Layout from '@/layouts/Layout.astro'

import { useDato } from '@/lib/utils'

import type { CmsIndex } from '@/lib/types'

const { data, error } = await useDato<CmsIndex>(/* GraphQL */ `
   {
      home {
         seo {
            title
            description
         }
         title(markdown: true)
         sections {
            title
            text(markdown: true)
         }
      }
   }
`)

if (error) throw new Error(error)

const cms = data.home

function withLinkAttrs(html: string) {
   return html.replace(/<a /g, '<a target="_blank" rel="nofollow noreferrer" ')
}
---

<Layout title={cms.seo.title} description={cms.seo.description}>
   <div class="Wrapper">
      <article class="Prose Prose_Index">
         <div class="Hero_Title" set:html={cms.title} />

         {
            cms.sections.map((s) => (
               <section>
                  <h2>{s.title}</h2>
                  <Fragment set:html={withLinkAttrs(s.text)} />
               </section>
            ))
         }
      </article>
   </div>
</Layout>

<style>
   .Wrapper {
      margin-top: var(--header-height);
   }

   .Prose_Index {
      & :global(h1) {
         @media (min-width: 769px) {
            text-wrap: balance;
         }
      }
   }
</style>
