---
import Layout from '@/layouts/Layout.astro'

import { useDato } from '@/lib/utils'

interface CmsData {
   home: {
      seo: {
         title: string
         description: string
      }
      title: string
      sections: {
         title: string
         text: string
      }[]
   }
}

const { home } = await useDato<CmsData>(/* GraphQL */ `
   {
      home {
         seo {
            title
            description
         }
         title(markdown: true)
         sections {
            title
            text(markdown: true)
         }
      }
   }
`)

function withLinkAttrs(html: string) {
   return html.replace(/<a /g, '<a target="_blank" rel="nofollow noreferrer" ')
}
---

<Layout title={home.seo.title} description={home.seo.description}>
   <div class="Wrapper">
      <article class="Prose Prose_Index">
         <div class="Hero_Title" set:html={home.title} />

         {
            home.sections.map((s) => (
               <section>
                  <h2>{s.title}</h2>
                  <Fragment set:html={withLinkAttrs(s.text)} />
               </section>
            ))
         }
      </article>
   </div>
</Layout>

<style>
   .Wrapper {
      margin-top: var(--header-height);
   }

   .Prose_Index {
      & :global(h1) {
         @media (min-width: 769px) {
            text-wrap: balance;
         }
      }
   }
</style>
