---
import Layout from '@/layouts/Layout.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import DonateSection from '@/components/DonateSection.astro'

import { StructuredText, useDato } from '@/lib/dato-cms'
import { replaceDownloadsStats } from '@/lib/utils'
import { getNpmPackages, getMacPackages, getNpmDownloadsStats } from '@/lib/fetch-packages'

import { NPM_USERNAME } from '@/lib/constants'

import type {
   OpenSourcePage,
   NpmPackagesListBlock,
   MacAppsListBlock,
   PackageSlug,
} from '@/lib/types'

export const prerender = true

const { data, error: cmsErr } = await useDato<OpenSourcePage>(/* GraphQL */ `
   {
      openSource {
         seo {
            title
            description
         }
         title
         subtitle(markdown: true)
         body {
            value
            blocks {
               __typename
               ... on NpmPackagesListRecord {
                  id
                  list
               }
               ... on MacAppsListRecord {
                  id
                  list
               }
            }
         }
      }
   }
`)

if (cmsErr) throw new Error(cmsErr)

const cms = data.openSource

const npmBlock = cms.body.blocks.find((b) => b.__typename === 'NpmPackagesListRecord') as
   | NpmPackagesListBlock
   | undefined
const macBlock = cms.body.blocks.find((b) => b.__typename === 'MacAppsListRecord') as
   | MacAppsListBlock
   | undefined

const [npmResult, macResult, downloadsResult] = await Promise.all([
   npmBlock
      ? getNpmPackages(NPM_USERNAME, npmBlock.list as PackageSlug[])
      : { data: [], error: null },
   macBlock ? getMacPackages(NPM_USERNAME, macBlock.list) : { data: [], error: null },
   getNpmDownloadsStats(NPM_USERNAME),
])

if (npmResult.error) throw new Error(npmResult.error)
if (macResult.error) throw new Error(macResult.error)
if (downloadsResult.error) throw new Error(downloadsResult.error)

const npmPackages = npmResult.data
const macPackages = macResult.data
const downloadsStats = downloadsResult.data
---

<Layout title={cms.seo.title} description={cms.seo.description}>
   <article class="g-article-wrapper g-page-top-spacing">
      <header class="open-source-section">
         <h1 class="g-title">{cms.title}</h1>
         <div class="g-paragraphs" set:html={cms.subtitle} />
      </header>

      <main class="g-prose" id="article">
         {
            StructuredText(cms.body, {
               NpmPackagesListRecord: () => (
                  <ul class="open-source-grid" aria-label="NPM packages">
                     {npmPackages.map((p) => (
                        <ProjectCard project={p} />
                     ))}
                  </ul>
               ),
               MacAppsListRecord: () => (
                  <ul class="open-source-grid" aria-label="Mac apps">
                     {macPackages.map((p) => (
                        <ProjectCard project={p} />
                     ))}
                  </ul>
               ),
               content: (html) => (
                  <Fragment
                     set:html={replaceDownloadsStats(html, {
                        total: downloadsStats.total,
                        weekly: downloadsStats.weekly,
                        monthly: downloadsStats.monthly,
                     })}
                  />
               ),
            })
         }
      </main>

      <DonateSection />
   </article>
</Layout>

<style>
   .open-source-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--s-5);
      z-index: 1;

      @media (--tablet-to) {
         grid-template-columns: 1fr;
         gap: var(--page-margin);
      }
   }

   .open-source-section {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: var(--section-gap);
   }
</style>
