---
import Layout from '@/layouts/Layout.astro'
import ProjectCard from '@/components/ProjectCard.astro'

import { useDato } from '@/lib/dato-cms'
import { addExternalLinkAttrs, replaceDownloadsStats } from '@/lib/utils'
import { getPackages, getNpmDownloadsStats } from '@/lib/fetch-packages'

import { NPM_USERNAME, TOP_PACKAGES } from '@/lib/constants'

import type { OpenSourcePage } from '@/lib/types'

export const prerender = true

const { data, error: cmsErr } = await useDato<OpenSourcePage>(/* GraphQL */ `
   {
      openSource {
         seo {
            title
            description
         }
         title
         text(markdown: true)
      }
   }
`)

if (cmsErr) throw new Error(cmsErr)

const { data: packages, error: packagesErr } = await getPackages(NPM_USERNAME, TOP_PACKAGES)

if (packagesErr) throw new Error(packagesErr)

const { data: downloadsStats, error: downloadsStatsError } =
   await getNpmDownloadsStats(NPM_USERNAME)

if (downloadsStatsError) throw new Error(downloadsStatsError)

const cms = data.openSource

const articleContent = replaceDownloadsStats(addExternalLinkAttrs(cms.text), {
   total: downloadsStats.total,
   weekly: downloadsStats.weekly,
   monthly: downloadsStats.monthly,
})
---

<Layout title={cms.seo.title} description={cms.seo.description}>
   <article class="G_Article_Wrapper G_Page_Top_Spacing">
      <h1 class="G_Title">{cms.title}</h1>
      <div class="G_Paragraphs" set:html={articleContent} />

      <ul class="Card_Grid" aria-label="Open source projects">
         {packages.map((p) => <ProjectCard project={p} />)}
      </ul>
   </article>
</Layout>

<style>
   .Card_Grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--s-5);
      z-index: 1;
      margin-top: var(--section-gap);

      @media (--tablet-to) {
         grid-template-columns: 1fr;
         gap: var(--page-margin);
      }
   }
</style>
