---
import Layout from '@/layouts/Layout.astro'
import ProjectCard from '@/components/ProjectCard.astro'

import { useDato } from '@/lib/dato-cms'
import { addLinkAttrs, formatNumber } from '@/lib/utils'
import { packages as pkgs } from '@/lib/static'
import { getPackages } from '@/lib/fetch-packages'

import type { OpenSourcePage } from '@/lib/types'

const { data, error: cmsErr } = await useDato<OpenSourcePage>(/* GraphQL */ `
   {
      openSource {
         seo {
            title
            description
         }
         title
         text(markdown: true)
      }
   }
`)

if (cmsErr) throw new Error(cmsErr)

const { data: packages, error: packagesErr } = await getPackages(pkgs)

if (packagesErr) throw new Error(packagesErr)

const cms = data.openSource

const countProp = (prop: 'stargazers_count' | 'downloads') =>
   formatNumber(packages.reduce((acc, p) => acc + p[prop], 0))

const withStats = (html: string) =>
   html
      .replace('{{ downloads }}', countProp('downloads'))
      .replace('{{ stars }}', countProp('stargazers_count'))
---

<Layout title={cms.seo.title} description={cms.seo.description}>
   <article class="G_Article_Wrapper G_Page_Top_Spacing">
      <h1 class="G_Title">{cms.title}</h1>
      <div class="G_Paragraphs" set:html={withStats(addLinkAttrs(cms.text))} />

      <ul class="Card_Grid">
         {packages.map((p) => <ProjectCard project={p} />)}
      </ul>
   </article>
</Layout>

<style>
   .Card_Grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--s-5);
      z-index: 1;
      margin-top: var(--section-gap);

      @media (--tablet-to) {
         grid-template-columns: 1fr;
         gap: var(--page-margin);
      }
   }
</style>
