---
import Layout from '@/layouts/Layout.astro'
import ProjectCard from '@/components/ProjectCard.astro'

import { StructuredText, useDato } from '@/lib/dato-cms'
import { replaceDownloadsStats } from '@/lib/utils'
import { getPackages, getMacPackages, getNpmDownloadsStats } from '@/lib/fetch-packages'

import { NPM_USERNAME } from '@/lib/constants'

import type {
   OpenSourcePage,
   NpmPackagesListBlock,
   MacAppsListBlock,
   PackageSlug,
} from '@/lib/types'

export const prerender = true

const { data, error: cmsErr } = await useDato<OpenSourcePage>(/* GraphQL */ `
   {
      openSource {
         seo {
            title
            description
         }
         title
         body {
            value
            blocks {
               __typename
               ... on NpmPackagesListRecord {
                  id
                  list
               }
               ... on MacAppsListRecord {
                  id
                  list
               }
            }
         }
      }
   }
`)

if (cmsErr) throw new Error(cmsErr)

const cms = data.openSource

const npmBlock = cms.body.blocks.find((b) => b.__typename === 'NpmPackagesListRecord') as
   | NpmPackagesListBlock
   | undefined
const macBlock = cms.body.blocks.find((b) => b.__typename === 'MacAppsListRecord') as
   | MacAppsListBlock
   | undefined

const [npmResult, macResult, downloadsResult] = await Promise.all([
   npmBlock ? getPackages(NPM_USERNAME, npmBlock.list as PackageSlug[]) : { data: [], error: null },
   macBlock ? getMacPackages(NPM_USERNAME, macBlock.list) : { data: [], error: null },
   getNpmDownloadsStats(NPM_USERNAME),
])

if (npmResult.error) throw new Error(npmResult.error)
if (macResult.error) throw new Error(macResult.error)
if (downloadsResult.error) throw new Error(downloadsResult.error)

const npmPackages = npmResult.data
const macPackages = macResult.data
const downloadsStats = downloadsResult.data
---

<Layout title={cms.seo.title} description={cms.seo.description}>
   <article class="G_Article_Wrapper G_Page_Top_Spacing">
      <h1 class="G_Title">{cms.title}</h1>

      <div class="G_Prose" id="article">
         {
            StructuredText(cms.body, {
               NpmPackagesListRecord: () => (
                  <ul class="Card_Grid" aria-label="NPM packages">
                     {npmPackages.map((p) => (
                        <ProjectCard project={p} />
                     ))}
                  </ul>
               ),
               MacAppsListRecord: () => (
                  <ul class="Card_Grid" aria-label="Mac apps">
                     {macPackages.map((p) => (
                        <ProjectCard project={p} />
                     ))}
                  </ul>
               ),
               content: (html) => (
                  <Fragment
                     set:html={replaceDownloadsStats(html, {
                        total: downloadsStats.total,
                        weekly: downloadsStats.weekly,
                        monthly: downloadsStats.monthly,
                     })}
                  />
               ),
            })
         }
      </div>
   </article>
</Layout>

<style>
   .Card_Grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--s-5);
      z-index: 1;

      @media (--tablet-to) {
         grid-template-columns: 1fr;
         gap: var(--page-margin);
      }
   }
</style>
