---
import Layout from '@/layouts/Layout.astro'
import ProjectCard from '@/components/ProjectCard.astro'

import { addLinkAttrs, formatNumber, useDato } from '@/lib/utils'
import { packages as pkgs } from '@/lib/static'
import { getPackages } from '@/lib/fetch-packages'

import type { CmsOpenSource } from '@/lib/types'

export const prerender = true

const { data, error: cmsErr } = await useDato<CmsOpenSource>(/* GraphQL */ `
   {
      openSource {
         seo {
            title
            description
         }
         title
         text(markdown: true)
      }
   }
`)

if (cmsErr) throw new Error(cmsErr)

const { data: packages, error: packagesErr } = await getPackages(pkgs)

if (packagesErr) throw new Error(packagesErr)

const cms = data.openSource

const countProp = (prop: 'stargazers_count' | 'downloads') =>
   formatNumber(packages.reduce((acc, p) => acc + p[prop], 0))

const withStats = (html: string) =>
   html
      .replace('{{ downloads }}', countProp('downloads'))
      .replace('{{ stars }}', countProp('stargazers_count'))
---

<Layout title={cms.seo.title} description={cms.seo.description} isArticleLayout>
   <article class="Article_Wrapper">
      <h1 class="Title">{cms.title}</h1>
      <div class="Prose" set:html={withStats(addLinkAttrs(cms.text))} />

      <ul class="Card_Grid">
         {packages.map((p) => <ProjectCard project={p} />)}
      </ul>
   </article>
</Layout>

<style>
   .Card_Grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2.5rem;
      z-index: 1;
      margin-bottom: 4rem;

      @media (max-width: 910px) {
         grid-template-columns: 1fr;
         gap: var(--page-margin);
         margin-bottom: 3rem;
      }
   }
</style>
