---
import Layout from '@/layouts/Layout.astro'

import ProfessionalServiceImage from '@/components/ProfessionalServiceImage.astro'
import GetInTouch from '@/components/GetInTouch.astro'

import { addLinkAttrs, useDato } from '@/lib/utils'

import type { CmsProfessionalWork } from '@/lib/types'

export const prerender = true

const { data, error } = await useDato<CmsProfessionalWork>(/* GraphQL */ `
   {
      professionalWork {
         seo {
            title
            description
         }
         title
         subtitle(markdown: true)
         services {
            caption
            title
            image {
               url(imgixParams: { w: "1200", fm: webp })
            }
            imageDescription
            description(markdown: true)
         }
         sections {
            title
            text(markdown: true)
         }
      }
   }
`)

if (error) throw new Error(error)

const cms = data.professionalWork
---

<Layout title={cms.seo.title} description={cms.seo.description} isArticleLayout>
   <article class="Article_Wrapper">
      <h1 class="Title">{cms.title}</h1>
      <GetInTouch />

      <div class="Prose Subtitle" set:html={cms.subtitle} />
      {
         cms.services.map((s) => (
            <section class="Section">
               {s.caption && <h4 class="Caption">{s.caption}</h4>}

               <h3 class="Title_2">{s.title}</h3>
               <div class="Prose" set:html={addLinkAttrs(s.description)} />

               {s.image && (
                  <ProfessionalServiceImage
                     imageUrl={s.image.url}
                     imageDescription={s.imageDescription}
                  />
               )}
            </section>
         ))
      }
      {
         cms.sections.map((s) => (
            <section class="Section">
               <h3 class="Title_2">{s.title}</h3>
               <div class="Prose" set:html={s.text} />
            </section>
         ))
      }
   </article>
</Layout>

<style>
   .Section {
      width: 100%;

      & h4 {
         margin-bottom: 0.35em;
      }
   }
</style>
