---
import Layout from '@/layouts/Layout.astro'

import ServiceImage from '@/components/ServiceImage.astro'
import GetInTouch from '@/components/GetInTouch.astro'

import { useDato } from '@/lib/dato-cms'
import { addExternalLinkAttrs } from '@/lib/utils'

import type { ServicesPage } from '@/lib/types'

export const prerender = true

const { data, error } = await useDato<ServicesPage>(/* GraphQL */ `
   {
      servicesPage {
         seo {
            title
            description
         }
         title
         subtitle(markdown: true)
         services {
            caption
            title
            image {
               url(imgixParams: { w: "1200", fm: webp })
            }
            imageDescription
            description(markdown: true)
         }
         sections {
            title
            text(markdown: true)
         }
      }
   }
`)

if (error) throw new Error(error)

const cms = data.servicesPage
---

<Layout title={cms.seo.title} description={cms.seo.description}>
   <article class="g-article-wrapper g-page-top-spacing">
      <header class="services-section">
         <h1 class="g-title" style={{ marginBottom: 0 }}>{cms.title}</h1>
         <GetInTouch />
         <div class="g-paragraphs" set:html={cms.subtitle} />
      </header>

      {
         cms.services.map((s) => (
            <section class="services-section">
               {s.caption && <h3 class="g-caption">{s.caption}</h3>}

               <h2 class="g-title-2">{s.title}</h2>
               <div class="g-paragraphs" set:html={addExternalLinkAttrs(s.description)} />

               {s.image && (
                  <ServiceImage imageUrl={s.image.url} imageDescription={s.imageDescription} />
               )}
            </section>
         ))
      }

      {
         cms.sections.map((s) => (
            <section class="services-section">
               <h3 class="g-title-2">{s.title}</h3>
               <div class="g-paragraphs" set:html={s.text} />
            </section>
         ))
      }
   </article>
</Layout>

<style>
   .services-section {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: var(--section-gap);

      &:last-of-type {
         margin-bottom: 0;
      }
   }
</style>
