---
import { ClientRouter } from 'astro:transitions'
import { isPreviewEnvironment } from '@/lib/env'
import { UMAMI_WEBSITE_ID } from '@/lib/constants'

const { title, description } = Astro.props as { title: string; description: string }

const url = import.meta.env.SITE + Astro.url.pathname
---

<>
   <ClientRouter />

   <!-- Common -->
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   <meta name="generator" content={Astro.generator} />

   <title>{title}</title>
   <meta name="description" content={description} />

   <link rel="icon" type="image/svg+xml" href="/brand/favicon.svg" />
   <link rel="canonical" href={url} />
   <link rel="sitemap" href="/sitemap-index.xml" />

   <link
      rel="preload"
      href="/fonts/TASAOrbiter-VariableFont_wght.woff2"
      as="font"
      type="font/woff2"
      crossorigin
   />

   <meta name="theme-color" content="#10853a" />
   <link rel="apple-touch-icon" sizes="192x192" href="/brand/icon-192.png" />
   <link rel="apple-touch-icon" sizes="512x512" href="/brand/icon-512.png" />

   <!-- Open Graph -->
   <meta property="og:type" content="article" />
   <meta property="og:url" content={url} />
   <meta property="og:title" content={title} />
   <meta property="og:description" content={description} />
   <meta property="og:image" content="/images/og-image.png" />

   <!-- Twitter -->
   <meta property="twitter:url" content={url} />
   <meta property="twitter:title" content={title} />
   <meta property="twitter:description" content={description} />
   <meta property="twitter:image" content="/images/og-image.png" />

   <!-- Scripts -->
   {
      !isPreviewEnvironment() && (
         <script
            is:inline
            defer
            src="https://cloud.umami.is/script.js"
            data-website-id={UMAMI_WEBSITE_ID}
         />
      )
   }

   <slot name="head-end" />
</>
